{% extends "index.html" %}

{% block body %}

	<div class="container-fluid">
		<h4> {{name}} </h4>
		<h5> {{lista_proveedores}}</h5>
		<!--<table class="table table-bordered">
		<tr>
			<td class="active">{{lista_proveedores}}</td>
		</tr>
		{% for NOMBRE, RFC, TELEFONOS, DIRECCION, CIUDAD in lista_proveedores %}
		<tr>
			<td class="active">{{NOMBRE}}</td>
			<td class="active">{{RFC}}</td>
			<td class="active">{{TELEFONOS}}</td>
			<td class="active">{{DIRECCION}}</td>
			<td class="active">{{CIUDAD}}</td>
		</tr>	
		{% endfor %}
		</table>-->
	</div>
	<form>
	  <div class="form-group">
		<label for="exampleInputEmail1">Correo Electronico</label>
		<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
	  </div>
	  <div class="form-group">
		<label for="exampleInputPassword1">Password</label>
		<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
	  </div>
	  <div class="form-group">
		<label for="exampleInputFile">Archivo</label>
		<input type="file" id="exampleInputFile">
		<p class="help-block">Example block-level help text here.</p>
	  </div>
	  <div class="checkbox">
		<label>
		  <input type="checkbox"> Check me out
		</label>
	  </div>
	  <button type="submit" class="btn btn-success">Regresa</button>
	</form>
{% endblock %}